/* declaração de variáveis */
:root {
  --top-base: 8rem;

  --header-height: 17rem;
  --height-2: 10rem;

  --action-top-base: 6rem;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
}

.section_header {
  overflow: hidden;
  transition: 0.4s ease;
  width: calc(100% - 4rem);
  height: var(--header-height);
  padding: var(--top-base) 2rem 0;
  background-color: rgb(var(--color-primary));
}

.section_header[data-open='true'] {
  height: calc(100vh - var(--top-base)) !important;
}

.section_header[data-size='2'],
.section_header[data-filter='true'] {
  z-index: 2;
  height: calc(var(--header-height) + var(--height-2));
}

.section_header > h1 {
  font-size: 3.5rem;
  text-align: center;
  font-family: 'Roboto';
  color: rgb(var(--color-white));
}

.section_header label {
  color: rgb(var(--color-white));
}

.container_filter {
  top: 3rem;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: row;
  width: calc(100% - 4rem);
  justify-content: space-around;
  max-height: calc(100vh - 28rem);
}

.container_filter[data-create='true'] {
  max-height: calc(100vh - 36rem);
}

.section_header[data-open='true'] .container_filter {
  overflow-y: auto;
}

/* personalizar a barra em geral, aqui estou definindo 10px de largura para a barra vertical
e 10px de altura para a barra horizontal */
.container_filter::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
.container_filter::-webkit-scrollbar-track {
  background: rgba(var(--color-black), 0.2);
}

/* aqui é a alça da barra, que demonstra a altura que você está na página
  estou colocando uma cor azul clara nela*/
.container_filter::-webkit-scrollbar-thumb {
  background: rgb(var(--color-black));
}

.container_filter_action {
  left: 0;
  right: 0;
  bottom: 6rem;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container_filter_action > button {
  color: white;
  margin: 1rem 0;
  background-color: transparent;
  width: calc(100% - var(--top-base));
}

.container_action {
  left: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  transition: 0.4s ease;
  justify-content: center;
  top: calc(var(--header-height) + var(--action-top-base));
}

.container_action > i {
  margin: 0 2rem;
  font-size: 3rem;
  cursor: pointer;
  border-radius: 50%;
  color: rgb(var(--color-white));
  background-color: rgb(var(--color-primary));
  box-shadow: rgb(var(--color-primary)) 0px 0px 0px 10px,
    rgb(var(--color-primary)) 0px 6px 40px;
}

.section_header[data-open='true'] .container_action {
  top: calc(100vh - 4rem) !important;
}

.section_header[data-size='2'] .container_action,
.section_header[data-filter='true'] .container_action {
  top: calc(var(--header-height) + var(--action-top-base) + var(--height-2));
}

.section_body {
  width: 100%;
  position: absolute;
  transition: 0.4s ease;
  top: calc(var(--header-height) + var(--top-base));
  height: calc(100vh - var(--header-height) - var(--top-base));
}

.section_body[data-size='2'],
.section_body[data-filter='true'] {
  z-index: 1;
  top: calc(var(--header-height) + var(--top-base) + var(--height-2));
  height: calc(
    100vh - var(--header-height) - var(--top-base) - var(--height-2)
  );
}

.section_body[data-open='true'] {
  overflow: hidden;
}

.section_body[data-open='true'][data-size='2'],
.section_body[data-open='true'][data-filter='true'] {
  max-height: calc(
    100vh - var(--header-height) - var(--top-base) - var(--height-2)
  );
}

@media (min-width: 700px) {
  .section_body,
  .section_body[data-size='2'],
  .section_body[data-filter='true'] {
    top: calc(var(--header-height) + var(--top-base));
    height: calc(100vh - var(--header-height) - var(--top-base));
  }

  .section_body[data-open='true'][data-size='2'],
  .section_body[data-open='true'][data-filter='true'] {
    max-height: calc(100vh - var(--header-height) - var(--top-base));
  }

  .section_header {
    height: var(--header-height) !important;
  }

  .section_header[data-size]:not([data-open='true']) .container_filter > div {
    width: calc(25% - 2rem);
  }

  .section_header:not([data-open='true'])[data-size='1']
    .container_filter
    > div,
  .section_header:not([data-open='true'])[data-size='2']
    .container_filter
    > div {
    width: calc(50% - 2rem);
  }

  .container_filter,
  .container_filter[data-create='true'] {
    max-height: calc(100vh - 28rem);
  }

  .container_filter_action > button {
    width: 40rem;
    margin: 0 1rem;
  }

  .container_action {
    top: calc(var(--header-height) + var(--action-top-base)) !important;
  }
}
