.container {
  display: block;
  position: relative;
  background: transparent;
}

.container[data-divider='true'] > .header {
  height: 35vh !important;
}

.container[data-open='true'] > .header {
  height: calc(100vh - 15rem);
  min-height: calc(100vh - 15rem);
  max-height: calc(100vh - 15rem);
}

.container[data-open='true'] > .actions {
  background: linear-gradient(
    0deg,
    rgb(var(--color-primary)) 47%,
    rgb(var(--color-white)) 48%,
    rgb(var(--color-primary)) 53%
  );
}

.container[data-open='true'] > .actions > button {
  border: 2px solid rgb(var(--color-white));
}

.container[data-open='true'] > .body {
  display: none;
}

.container[data-action='true'] > .body {
  z-index: 1;
}

.header {
  z-index: 2;
  max-height: 50vh;
  min-height: 120px;
  position: relative;
  padding: 8rem 2rem 0;
  transition: 0.4s ease;
  background-size: 100%;
  background-repeat: no-repeat;
  color: rgb(var(--color-white));
}

.header label {
  color: rgb(var(--color-white));
}

.header .title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.header .subtitle {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.header .search {
  height: auto;
  display: flex;
  padding: 0 1rem;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: row;
  transition: 0.4s ease;
  justify-content: space-between;
}

.actions {
  z-index: 2;
  height: 7rem;
  display: flex;
  position: relative;
  align-items: center;
  transition: 0.4s ease;
  justify-content: center;
  background: linear-gradient(rgb(var(--color-primary)) 50%, transparent 50%);
}

.action_block {
  top: 0;
  width: 100%;
  height: 14rem;
  position: fixed;
}

.actions > button {
  border: none;
  margin: 0 1rem;
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 10rem;
  color: rgb(var(--color-white));
  box-shadow: 0px 2px 10px 0px #1b704c;
  background-color: rgb(var(--color-primary));
  border-bottom: 2px solid rgb(var(--color-white));
}

.actions > button:first-child {
  margin-left: 0;
}

.actions > button:last-child {
  margin-right: 0;
}

.actions > button > i {
  margin-right: 0.5rem;
}

.body {
  left: 0;
  right: 0;
  z-index: 2;
  display: block;
  position: absolute;
  padding: 0 2rem 2rem;
}

@media (min-width: 500px) {
  .container[data-open='false'] .header .search > div {
    flex: 1;
    margin: 0 1rem;
  }
}
