.container {
  width: 100vw;
  height: 100vh;
  display: block;
  overflow: hidden;
  user-select: none;
  position: relative;
  background-color: rgb(var(--color-primary));
}

.header {
  height: 7rem;
  display: flex;
  padding: 0 2rem;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  justify-content: space-between;
  background-color: rgb(var(--color-primary));
}

.header > img {
  width: 200px;
  cursor: pointer;
}

.header > label {
  cursor: pointer;
  font-size: 2.5rem;
  color: rgb(var(--color-white));
}

.header > label > i {
  margin-right: 1rem;
}

.title {
  z-index: 2;
  font-size: 4rem;
  margin: 2rem 2rem;
  line-height: 5rem;
  position: relative;
  text-align: center;
  color: rgb(var(--color-white));
}

.form {
  z-index: 2;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
}

.form h1 {
  font-size: 2.4rem;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.form button[type='submit'] {
  width: 100%;
}

.form_type {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form_type > div {
  padding: 2rem;
  flex: 1 1 50%;
  display: flex;
  margin: 0 1rem;
  flex-wrap: wrap;
  cursor: pointer;
  align-items: center;
  border-radius: 2rem;
  flex-direction: column;
  color: rgb(var(--color-white));
}

.form_type > div > i {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.form_type > div > label {
  width: 100%;
  cursor: unset;
  font-size: 2.8rem;
  text-align: center;
}

.form_type > div:first-child {
  background-color: rgb(var(--color-primary));
}

.form_type > div:last-child {
  background-color: rgb(var(--color-secondary));
}

.help {
  color: grey;
  padding-left: 2rem;
  text-align: justify;
}

.help > ul > li {
  padding-left: 1rem;
  margin-bottom: 2rem;
  list-style-type: upper-roman;
}

.banner {
  left: 0;
  bottom: 0;
  top: 200px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 20rem;
  position: absolute;
  background-image: linear-gradient(rgb(var(--color-primary)) 40%, transparent);
}

@media screen and (min-width: 800px) {
  .title {
    line-height: 4rem;
  }
}
