.container {
  display: flex;
  font-size: 1.8rem;
  color: rgb(var(--color-black));
}

.container i {
  font-size: 2.1rem;
  margin-right: 1rem;
  color: rgb(var(--color-primary));
}

.container i,
.container label {
  cursor: pointer;
}

.container label a {
  text-decoration: none;
  color: rgb(var(--color-black));
}
