.container {
  width: 100%;
  display: flex;
  padding: 0 0 2rem;
  position: relative;
  flex-direction: column;
  color: rgb(var(--color-black));
}

.container > i {
  top: 1.2rem;
  color: grey;
  right: 1.2rem;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
}

.container i:hover {
  color: rgb(var(--color-black));
}

.container[data-label='true'][data-display='vertical'] i {
  top: 4rem;
}

.container[data-display='horizontal'] {
  align-items: center;
  flex-direction: row;
}

.content {
  display: flex;
  position: relative;
  flex-direction: row;
}

.content > input {
  flex: 1;
  outline: none;
  padding: 1.2rem;
  font-size: 1.7rem;
  border-radius: 0.8rem;
  background-color: #fff;
  border: 1px solid #ced4da;
}

.content > input:focus {
  border-color: var(--input-focus-border-color);
}

.content > input:disabled {
  cursor: not-allowed;
  background-color: rgb(var(--color-disabled));
}

.content > input[type='password'] {
  padding-right: 4rem;
  width: calc(100% - 5.6rem);
}

.content > button {
  width: 4rem;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.content[data-action='true'] > input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.container[data-col='1'] {
  width: calc(100% * 0.0625 - 2rem);
}

.container[data-col='2'] {
  width: calc(100% * 0.125 - 2rem);
}

.container[data-col='3'] {
  width: calc(100% * 0.1875 - 2rem);
}

.container[data-col='4'] {
  width: calc(100% * 0.25 - 2rem);
}

.container[data-col='5'] {
  width: calc(100% * 0.3125 - 2rem);
}

.container[data-col='6'] {
  width: calc(100% * 0.375 - 2rem);
}

.container[data-col='7'] {
  width: calc(100% * 0.4375 - 2rem);
}

.container[data-col='8'] {
  width: calc(100% * 0.5 - 2rem);
}

.container[data-col='9'] {
  width: calc(100% * 0.5625 - 2rem);
}

.container[data-col='10'] {
  width: calc(100% * 0.625 - 2rem);
}

.container[data-col='11'] {
  width: calc(100% * 0.6875 - 2rem);
}

.container[data-col='12'] {
  width: calc(100% * 0.75 - 2rem);
}

.container[data-col='13'] {
  width: calc(100% * 0.8125 - 2rem);
}

.container[data-col='14'] {
  width: calc(100% * 0.875 - 2rem);
}

.container[data-col='15'] {
  width: calc(100% * 0.9375 - 2rem);
}
