.container {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  color: rgb(var(--color-white));
}

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 7rem;
  display: flex;
  padding: 0 2rem;
  position: absolute;
  flex-direction: row;
  align-items: center;
  transition: 0.4s ease;
  background-color: transparent;
  justify-content: space-between;
}

.header_block {
  box-shadow: 0 4px 2px #999;
  background-color: rgb(var(--color-white));
}

.header > img {
  cursor: pointer;
  max-width: 200px;
}

.header > i {
  width: 30px;
  height: 30px;
  display: flex;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  transition: 0.4s ease;
  justify-content: center;
  color: rgb(var(--color-primary));
  background-color: rgb(var(--color-white));
}

.header > i:hover {
  box-shadow: 0 0 5px 2px rgb(var(--color-primary));
}

.header > button {
  width: 180px;
}

.header > button > i {
  float: right;
}

.header > i:hover .dropdown {
  height: 170px;
}

.dropdown {
  top: 80%;
  height: 0;
  right: 2rem;
  width: 180px;
  display: block;
  overflow: hidden;
  position: absolute;
  font-family: 'Open Sans';
  transition: 0.4s ease-in-out;
}

.dropdown > button {
  width: 100%;
  margin: 5px 0;
}

.section_header {
  width: 100%;
  display: flex;
  min-height: 100vh;
  position: relative;
  flex-direction: column;
  transition: 0.5s ease-in-out;
  justify-content: space-between;
}

.banner {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100vw;
  height: 100%;
  position: absolute;
  background-size: cover;
  transition: 1s ease-in-out;
  background-repeat: no-repeat;
  background-color: transparent;
}

.banner[data-active='true'] {
  opacity: 1;
}

.banner[data-index='0'] {
  background-position: 15%;
}

.banner[data-index='1'] {
  background-position: 25%;
}

.banner[data-index='2'] {
  background-position: 18%;
}

.title {
  flex: 1;
  z-index: 1;
  display: flex;
  margin: 0 auto;
  padding: 0 1rem;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 2rem);
  transition: 1s ease-in-out;
}

.title > h1,
.title > h2,
.title > h3,
.title > h4,
.title > h5,
.title > h6 {
  width: 100%;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 5px;
  text-shadow: 0 2px 2px rgb(var(--color-black));
}

.title > h1 {
  font-size: 5rem;
  /* -webkit-text-stroke: 2px rgb(22, 89, 52); */
}

.title > h2 {
  font-size: 4rem;
}

.title > h3 {
  font-size: 2rem;
}

.title > button {
  width: 100%;
  border: none;
  padding: 1rem;
  margin: 0 auto;
  cursor: pointer;
  color: #6b4f03;
  max-width: 540px;
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: #ffc100;
}

.title > button:hover {
  opacity: 0.8;
}

.selector {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selector > div {
  width: 4rem;
  margin: 2rem;
  height: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  transition: 1s ease-in-out;
  background-color: rgb(var(--color-white));
  box-shadow: 0 2px 2px rgb(var(--color-black));
}

.selector > div[data-active='true'] {
  background-color: rgb(var(--color-black));
}

.container_action {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container_action button {
  width: 90%;
  margin: 0.5rem 0;
  font-size: 2.4rem !important;
}

.section_feature {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5rem 0;
  text-align: center;
  justify-content: space-around;
  color: rgb(var(--color-white));
  background-color: rgb(var(--color-primary-light));
}

.feature {
  width: 100%;
  display: flex;
  padding: 2rem 0;
  position: relative;
  font-family: 'Open Sans';
  flex-direction: column;
}

.feature i {
  font-size: 3rem;
  text-shadow: 0 2px 1px rgba(var(--color-black), 0.2);
}

.feature h1 {
  margin: 1rem 0;
  font-size: 2.7rem;
  text-shadow: 0 2px 1px rgba(var(--color-black), 0.2);
}

.feature p {
  font-size: 1.7rem;
  line-height: 2.2rem;
}

.feature:not(:last-child)::after {
  content: '';
  width: 100%;
  margin: 4rem 0 2rem;
  border-bottom: 1px solid rgb(var(--color-white));
}

.section_step {
  padding: 5rem 0;
  text-align: center;
  color: rgb(var(--color-white));
  background-color: rgb(var(--color-primary-light));
}

.step_title {
  font-size: 4rem;
  text-shadow: 0 2px 1px rgba(var(--color-black), 0.2);
}

.step_description {
  font-size: 2rem;
  line-height: 2.2rem;
  margin: 2rem 0 5rem;
  color: rgb(var(--color-black));
}

.container_step {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.step {
  display: flex;
  cursor: pointer;
  margin: 2rem 1rem;
  align-items: center;
  flex-direction: column;
}

.step h1 {
  margin: 1rem 0;
  font-size: 2.7rem;
  text-shadow: 0 2px 1px rgba(var(--color-black), 0.2);
}

.step p {
  font-size: 1.7rem;
  line-height: 2.2rem;
}

.step_number {
  display: flex;
  width: 100px;
  height: 100px;
  font-size: 5rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 1s ease-in-out;
  border: 0.2rem solid rgb(var(--color-white));
}

.step_number_active {
  color: rgb(var(--color-primary));
  background-color: rgb(var(--color-white));
  border: 0.2rem solid rgb(var(--color-primary));
}

.section_advantage {
  width: 100%;
  display: flex;
  padding: 5rem 0rem;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: rgb(var(--color-black));
  background-color: rgb(var(--color-white));
}

.advantage_title {
  margin: 0 1rem;
  font-size: 4.5rem;
  text-align: center;
  transition: 1s ease;
  color: rgb(var(--color-primary));
}

.advantage {
  width: 80%;
  padding: 2rem;
  display: flex;
  margin-top: 5rem;
  transition: 1s ease;
  line-height: 2.2rem;
  border-radius: 2rem;
  flex-direction: column;
  border: 4px solid rgba(var(--color-black), 0.2);
}

.advantage h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(var(--color-primary));
}

.advantage_item_description {
  font-size: 1.8rem;
}

.section_footer {
  display: flex;
  padding: 3rem;
  flex-wrap: wrap;
  font-size: 1.8rem;
  justify-content: space-around;
  color: rgb(var(--color-black));
  background-color: rgb(var(--color-white));
}

.section_footer li {
  list-style-type: disc;
  margin: 2rem 0 0 1.5rem;
  color: rgb(var(--color-primary-light));
}

.footer_link {
  text-decoration: none;
  color: rgb(var(--color-black));
}

.container_term_policy {
  width: 100%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.container_term_policy h1 {
  font-weight: 600;
  font-size: 2.7rem;
  color: rgb(var(--color-primary-light));
}

.container_contacts {
  width: 100%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
  margin-bottom: 2rem;
}

.contact i {
  font-size: 2.5rem;
  margin-right: 1rem;
  color: rgb(var(--color-primary-light));
}

.contact div {
  line-height: 2.2rem;
  overflow-wrap: break-word;
}

.contact a {
  text-decoration: none;
  color: rgb(var(--color-black));
}

@media screen and (min-width: 500px) {
  .header > button:hover .dropdown {
    height: 115px;
  }

  .dropdown {
    right: 0;
    top: 100%;
    padding-top: 10px;
  }
}

@media (min-width: 700px) {
  .section_content {
    background-position: 0;
  }

  .banner[data-active] {
    max-width: 100%;
    background-position: center;
  }

  .title > h1,
  .title > h2,
  .title > h3,
  .title > h4,
  .title > h5,
  .title > h6 {
    max-width: 540px;
    text-align: left;
  }

  .title > button {
    margin: 0;
  }

  .container_action button {
    width: 30%;
    margin: 0 0.5rem;
  }

  .feature {
    flex: 1;
  }

  .feature:not(:last-child) {
    border-right: 1px solid rgb(var(--color-white));
  }

  .feature:not(:last-child)::after {
    content: '';
    width: 0;
    margin: 0;
  }

  .step {
    flex: 1;
    margin: 0 2rem;
  }

  .advantage_title {
    opacity: 0;
    transform: translateY(50%);
  }
  .advantage {
    opacity: 0;
    transform: translateY(50%);
  }

  .animation_visible {
    opacity: 1;
    transform: translateY(0);
  }

  .container_term_policy {
    flex: 1;
    width: auto;
  }

  .container_contacts {
    flex: 1;
    width: auto;
  }
}
