.icon {
  z-index: 4;
  width: 60px;
  right: 2rem;
  bottom: 2rem;
  height: 60px;
  position: fixed;
  cursor: pointer;
  border-radius: 50%;
  color: rgb(var(--color-black));
  border: 2px solid rgb(var(--color-white));
  background-color: rgb(var(--color-primary));
  box-shadow: 0 0 0 2px rgb(var(--color-primary));
}

.icon[data-loading='true'] {
  z-index: 3;
}

.icon[data-hide='true'] {
  display: none;
}

.icon > i {
  top: 50%;
  left: 50%;
  font-size: 3rem;
  position: relative;
  color: rgb(var(--color-white));
  transform: translate(-50%, -50%);
}

.chat {
  z-index: 4;
  right: 2rem;
  cursor: auto;
  display: none;
  position: fixed;
  max-width: 380px;
  user-select: none;
  border-radius: 1rem;
  flex-direction: column;
  border: 1px solid #999;
  bottom: calc(60px + 4rem);
  max-height: calc(100vh - 60px - 6rem);
  background-color: rgb(var(--color-white));
}

.chat[data-open='true'] {
  display: flex;
}

.chat .header,
.chat .footer {
  height: 6rem;
  display: flex;
  padding: 0 2rem;
  position: relative;
  flex-direction: row;
  align-items: center;
}

.chat .header > h1 {
  flex: 1;
  cursor: pointer;
  font-size: 1.7rem;
  line-height: 3rem;
  transition: 0.4s ease;
}

.chat .header > h1:hover {
  margin-left: 1rem;
  color: rgb(var(--color-primary));
}

.chat .header > h1 > i.left {
  margin-right: 1rem;
}

.chat .header > h1 > i.right {
  margin-left: 1rem;
}

.chat .header > i {
  display: flex;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.chat .body {
  height: 440px;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  max-height: calc(100vh - 60px - 18rem);
}

.chat .body img {
  margin: 2rem 1rem;
  width: calc(100% - 2rem);
}

.chat .body[data-loading='true'] {
  overflow: hidden;
}

.chat .body .loading {
  top: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  display: none;
  font-size: 4rem;
  position: absolute;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-primary));
  background-color: rgba(var(--color-white), 0.5);
}

.chat .body .loading[data-open='true'] {
  display: flex;
}

.chat .body ul.type {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.chat .body ul.type li {
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(var(--color-primary));
  border: 1px solid rgb(var(--color-primary));
}

.chat .body ul.type li[data-active='true'] {
  color: rgb(var(--color-white));
  background-color: rgb(var(--color-primary));
}

.chat .body ul.conversation li {
  cursor: pointer;
  padding: 2rem 1rem;
  color: rgb(var(--color-black));
  border-bottom: 1px solid #e3e3e3;
}

.chat .body ul.conversation li:last-child {
  border: none;
}

.chat .body ul.conversation li:hover {
  background-color: rgba(var(--color-primary), 0.1);
}

.chat .body ul.conversation li > h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.chat .body ul.conversation li > h1 > span {
  float: right;
  color: grey;
  font-size: 1.2rem;
}

.chat .body ul.conversation li > div {
  cursor: inherit;
  overflow: hidden;
  font-size: 1.3rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat .body .message {
  user-select: text;
  margin: 1rem auto;
  font-size: 1.5rem;
  position: relative;
  border-radius: 6px;
  padding: 2rem 2rem 2.5rem;
  width: calc(100% - 7rem);
  color: rgb(var(--color-white));
}

.chat .body .message[data-type='helcome'],
.chat .body .message[data-type='received'] {
  background: rgb(var(--color-secondary));
}

.chat .body .message[data-type='helcome'] {
  user-select: none;
}

.chat .body .message[data-type='helcome']::after,
.chat .body .message[data-type='received']::after {
  top: 0;
  left: -8px;
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid rgb(var(--color-secondary));
}

.chat .body .message[data-type='send'] {
  background: rgba(var(--color-primary), 1);
}

.chat .body .message[data-type='send']::after {
  top: 0;
  right: -8px;
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid rgb(var(--color-primary));
}

.chat .body .message[data-type='helcome'] h1 {
  font-weight: 600;
  margin-bottom: 1rem;
}

.section_message > ul > li {
  position: relative;
}

.section_message > ul > li > span {
  z-index: 1;
  bottom: 1rem;
  right: 2.5rem;
  font-size: 1.2rem;
  position: absolute;
  color: rgb(var(--color-white));
}

.chat .footer > textarea {
  flex: 1;
  resize: none;
  outline: none;
  padding: 1.2rem;
  font-size: 1.7rem;
  border-radius: 0.8rem;
  background-color: #fff;
  border: 1px solid #ced4da;
  color: rgb(var(--color-black));
}

.chat .footer > i {
  cursor: pointer;
  font-size: 2rem;
  margin-left: 1rem;
  color: rgb(var(--color-primary));
}

.chat .footer > h2 {
  left: 50%;
  color: grey;
  font-size: 1.5rem;
  position: relative;
  transform: translateX(-50%);
}

.error {
  opacity: 0;
  z-index: 4;
  bottom: 2rem;
  position: fixed;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1rem 2rem;
  border-radius: 100px;
  background-color: red;
  transition: 0.1s ease-in-out;
  color: rgb(var(--color-white));
}

.error[data-visible='true'] {
  opacity: 1;
}
