button.btn {
  color: #fff;
  cursor: pointer;
  padding: 1.2rem;
  font-size: 1.6rem;
  border-width: 1px;
  position: relative;
  border-style: solid;
  border-color: #fff;
  border-radius: 0.8rem;
  font-family: "Roboto";
  outline: none;
}

button.sm-100 {
  width: 98%;
  margin: 1%;
}

button.sm-25 {
  width: 23%;
  margin: 1%;
}

/* primary color */

button.btn.primary {
  background: var(--color-primary);
  border-color: var(--color-primary);
}

button.btn.primary:hover {
  background: var(--color-primary-light);
}

button.btn.primary.reverse {
  border-color: var(--color-primary);
  background: var(--color-primary);
}

button.btn.primary.reverse:hover {
  background: var(--color-primary-dark-light);
}

/* secondary color */

button.btn.secondary {
  background: var(--color-secondary-gradient);
  border-color: var(--color-black);
}

button.btn.secondary:hover {
  background: var(--color-black);
}

button.btn.secondary.reverse {
  border-color: var(--color-secondary);
  background: var(--color-secondary-dark);
}

button.btn.secondary.reverse:hover {
  background: var(--color-secondary-dark-light);
}

button.btn.success {
  background: #27AE60;
  border-color: #27AE60;
}

button.btn.success:hover {
  background: #239c56
}

button.link {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.2rem;
  color: var(--color-black);
  font-size: 1.6rem;
  font-family: "Roboto";
  background: transparent;
}

button.link:hover {
  text-decoration: underline;
}

@media (min-width:700px) {
  button.lg-100 {
    width: 98%;
    margin: 1%;
  }
  button.lg-25 {
    width: 23%;
    margin: 1%;
  }
}
