.container {
  display: flex;
  margin: 0 auto;
  margin-top: -4rem;
  justify-content: center;
  width: calc(100% - 4rem);
}

.container h1 {
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 500;
  text-align: left;
  border-bottom: 2px solid rgb(var(--color-disabled));
}

.container[data-step='2'] h1 {
  text-align: center;
}

.container form {
  display: flex;
  position: relative;
  padding: 2rem 1rem 0;
  flex-direction: column;
  width: calc(100% - 2rem);
  justify-content: space-between;
}

.container form > div {
  margin: 0 0 1rem;
}

.container form > div:last-child {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container form > div:last-child button[type='submit'] {
  width: 100%;
}

@media (min-width: 800px) {
  .container[data-step='2'] h1,
  .container[data-step='2'] form {
    width: 70%;
    margin: 0 auto;
    max-width: 500px;
  }

  .container h1,
  .container form {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
  }

  .container form > div:last-child button[type='submit'] {
    max-width: 32%;
  }
}
