.container {
  display: flex;
  position: relative;
  flex-direction: column;
}

.content {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.content > div {
  margin: 1rem;
}

@media screen and (min-width: 700px) {
  .content > div {
    max-width: calc(48% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .content > div {
    max-width: calc(33% - 2rem);
  }
}

@media screen and (min-width: 1300px) {
  .content > div {
    max-width: calc(24% - 2rem);
  }
}
