.container {
  display: flex;
  margin: 2rem 0;
  position: relative;
  flex-direction: column;
}

.content {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.content > div {
  margin: 1rem 0;
}

.bloco {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.bloco > div {
  width: 100%;
  font-size: 1.5rem;
  color: rgb(var(--color-black));
}

.bloco > div:not(:last-child) {
  margin-bottom: 1rem;
}

.bloco > div[data-witdh='50'] {
  width: calc(50% - 0.5rem);
}

.bloco > div[data-label='true'] .bloco_description {
  margin-left: 7px;
}

.bloco img {
  width: 70px;
}

.bloco .bloco_label {
  color: grey;
}

.bloco .bloco_description {
  font-weight: 600;
}

@media screen and (min-width: 700px) {
  .content > div {
    margin: 1rem;
    max-width: calc(48% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .content > div {
    max-width: calc(33% - 2rem);
  }
}

@media screen and (min-width: 1300px) {
  .content > div {
    max-width: calc(24% - 2rem);
  }
}
