#crm-page .filters {
  width: 100%;
}

#crm-page .filter-actions button.outline {
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 1.2rem;
  background: transparent;
  padding: 0.4rem 0.8rem;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
}

#crm-page .filter-actions button.outline:first-child {
  margin-right: 1.2rem;
}

#crm-page .filter-actions.hidden {
  display: none;
}

#crm-page .filters {
  display: none;
}

#crm-page .filters.visible {
  display: block;
}

#crm-page .content .card .card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#crm-page .content .card .card-header .card-title {
  font-size: 1.8rem;
  font-weight: 700;
}

/* #crm-page .content .card .crm-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.2rem
} */

#crm-page .content .card .crm-info {
  width: 100%;
}
