#landing-page main div.content-feature .feature-item {
  color: #FFF;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#landing-page main div.content-feature .feature-item i {
  margin: 0.4rem;
  font-size: 3.2rem;
}

#landing-page main div.content-feature .feature-item .title {
  margin: 0.4rem;
  font-size: 2rem;
  font-weight: 700;
}

#landing-page main div.content-feature .feature-item p {
  margin: 0.4rem 0;
  font-size: 1.6rem;
  text-align: center;
}

#landing-page main div.content-feature .feature-item::after {
  content: '';
  width: 50%;
  margin: 1.2rem 0;
  border-bottom: 1px solid #FFF;
}

#landing-page main div.content-feature .feature-item:last-child::after {
  display: none;
}