#header-app {
  width: 100%;
  z-index: 999;
  position: fixed;
}

#header-app .content {
  border: none;
  color: #fff;
  display: flex;
  height: 4.8rem;
  font-size: 2rem;
  align-items: center;
  padding: 1.2rem 1.4rem;
  justify-content: space-between;
  background-color: var(--color-background);
  box-shadow: 0px 1px 3px 1px #ccc;
}

#header-app img.logo {
  width: 20rem;
}

#header-app .menu-button {
  padding: 0.8rem 1.2rem;
  font-size: 2.4rem;
  color: #fff;
  border: none;
  border-color: var(--color-primary);
  background: var(--color-primary-dark);
  cursor: pointer;
  border-radius: 0.8rem;
  outline: var(--color-primary-dark);
  transition: background 0.4s;
}

#header-app .menu-button:hover {
  background-color: var(--color-primary-dark-light);
}
