.header {
  width: 100%;
  z-index: 999;
  height: 40px;
  display: flex;
  position: fixed;
  padding: 14px 0;
  flex-direction: row;
  justify-content: space-between;
  transition: box-shadow 0.5s ease;
}

.header button {
  margin-right: 2rem;
}

.logo {
  width: 20rem;
  margin-left: 2rem;
}
