.form {
  top: -2rem;
  margin: 0 auto;
  max-width: 500px;
  position: relative;
  width: calc(100% - 4rem);
}

.detail {
  padding: 1rem;
  display: block;
  position: relative;
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-family: 'Open Sans';
  border: 1px solid #999;
  background-color: #F9F9F9;
  color: rgb(var(--color-black));
}

.detail > label {
  font-size: 1.7rem;
}

.detail > p {
  font-weight: 600;
  margin-top: 1rem;
  font-size: 2rem;
}
