.container {
  overflow: hidden;
}

.carousel {
  width: 100%;
  display: flex;
  transition: 0.4s;
  flex-wrap: nowrap;
  flex-direction: row;
}

.step {
  opacity: 0;
  width: 100%;
  height: auto;
  max-height: 0;
  flex-shrink: 0;
}

.step[data-visible='true'] {
  opacity: 1;
  max-height: 10000px;
}
