.sidebar {
  transition: width 0.4s;
  color: var(--color-background);
}

.sidebar .user {
  display: flex;
  padding: 3.2rem 1.2rem 1.2rem 1.2rem;
  flex-direction: column;
  background: var(--color-primary-gradient);
}

.sidebar .user .user-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar .user .user-content a {
  font-size: 1.2rem;
  color: #FFF;
}

.sidebar .user .user-content .text {
  /* font-size: 1.6rem; */
  line-height: 2rem;
  font-weight: 700;
  color: #FFF;
  font: 1.8rem Roboto;
}

.sidebar .user::after {
  content: '';
  width: 100%;
  border-bottom: 1px solid #fff;
  margin-top: 1.2rem;
  /* margin-bottom: 1.2rem; */
}

.sidebar ul {
  list-style-type: none;
  padding: 1.6rem 1.2rem 1.2rem 1.2rem;
}

.sidebar ul li .active-menu {
  color: var(--color-primary);
}

.sidebar ul li {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
}

.sidebar ul li::after {
  content: '';
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-top: 0.8rem;
}

.sidebar ul li:last-child::after {
  content: none;
}

.sidebar ul li a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--color-black);
}

.sidebar ul li a:hover {
  color: #999;
}