.container {
  margin: 1rem 0;
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgb(var(--color-black));
}

.container a {
  font-weight: 700;
  text-decoration: none;
  color: rgb(var(--color-primary-dark));
}
