.container {
  width: 100%;
  margin: 1rem 0;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header[data-title='true'] {
  justify-content: center;
}

.header[data-logo='true'] h1 {
  text-align: right;
}

.header img {
  width: 80px;
  fill: transparent;
  background-color: transparent !important;
}

.header h1,
.description h1 {
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Open Sans';
}

.header p,
.description p {
  font-size: 1.8rem;
  font-family: 'Open Sans';
}

.description h1 {
  margin-bottom: 1rem;
}

.description {
  width: 100%;
  display: flex;
  margin: 2rem 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.detail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1.5rem 0 0;
  justify-content: space-between;
}

.detail > div {
  width: 100%;
  display: flex;
  padding: 1rem 0;
  margin: 0.5rem 0;
  border-radius: 1rem;
  align-items: center;
  margin-bottom: 0.5rem;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #d2e0db;
  background-color: #f9f9f9;
}

.detail > div[data-width='50'] {
  width: calc(50% - 0.5rem);
}

.detail > div > h1,
.detail > div > p {
  margin: 0.5rem 0;
  font-size: 1.6rem;
  font-family: 'Open Sans';
}

.detail > div > p {
  font-weight: 600;
}
