#box{
  background: #fff;
  min-height: 16rem;
  margin-top: -10rem;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  border-radius: 0.8rem;
  padding: 1.6rem 1.2rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 1px #999;
}

#box .box-header{
  width: 100%;
  margin-bottom: 0.8rem;
}
