#landing-page {
  width: 100%;
  min-height: 100vh;
}

#landing-page main {
  display: flex;
  padding-top: 6.4rem;
  flex-direction: column;
}

#landing-page main>div {
  flex: 1;
  padding: 3.2rem 1.8rem;
  color: var(--color-black);
}

#landing-page main div.content-sig-in {
  display: flex;
  text-align: center;
  align-items: center;
  font-family: "Roboto";
  flex-direction: column;
  background-color: transparent;
}

#landing-page main div.content-sig-in h1 {
  font-weight: 700;
  font-size: 3.2rem;
}

#landing-page main div.content-sig-in p {
  margin: 1.5rem 0;
  font-size: 1.8rem;
}

#landing-page main div.content-sig-in div.content-actions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#landing-page main div.content-sig-in div.content-actions button {
  margin: 1%;
  width: 99%;
  font-size: 2.4rem;
}

#landing-page main div.content-feature {
  background-color: var(--color-primary-light);
}

@media (min-width: 700px) {
  #landing-page main div.content-sig-in div.content-actions button {
    max-width: 30%;
  }
}