#root {
  width: 100vw;
  height: 100vh;
}

/* versão mobile */
:root {
  font-size: 60%;
  background-color: #f7f0f0;

  /* colors */
  --color-black: #2d2d2d;
  --color-disabled: #d0d0d0;
  --color-not-selected: #525252;

  /* color primary */
  --color-primary: 28, 122, 82;
  --color-primary-dark: 21, 84, 59;
  --color-primary-light: 47, 181, 121;
  --color-primary-gradient: linear-gradient(
    to right,
    rgb(var(--color-primary)),
    rgb(var(--color-primary-light))
  );
  --color-primary-gradient-reverse: linear-gradient(
    to left,
    rgb(var(--color-primary)),
    rgb(var(--color-primary-light))
  );

  /* color secondary */
  --color-secondary: 102, 105, 107;
  --color-secondary-dark: 64, 66, 67;
  --color-secondary-light: 138, 142, 144;
  --color-secondary-gradient: linear-gradient(
    to right,
    rgb(var(--color-secondary)),
    rgb(var(--color-secondary-light))
  );
  --color-secondary-gradient-reverse: linear-gradient(
    to left,
    rgb(var(--color-secondary)),
    rgb(var(--color-secondary-light))
  );

  /* font */
  font-family: "Open Sans", sans-serif;
}

/* versão desktop */
@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
