/* versão mobile */

:root {
  font-size: 60%;
  background-color: #f0f2f1;

  /* colors */
  --color-black: 45, 45, 45;
  --color-white: 245, 254, 250;

  --color-primary: 28, 122, 82;
  --color-primary-dark: 28, 122, 82;
  --color-primary-light: 47, 181, 121;

  --color-secondary: 102, 105, 107;
  --color-secondary-dark: 64, 66, 67;
  --color-secondary-light: 136, 142, 144;

  /* colors - gradient */
  --color-primary-gradient: linear-gradient(
    0deg,
    rgba(28, 122, 82, 1) 0%,
    rgba(47, 181, 121, 1) 83%
  );
  --color-secondary-gradient: linear-gradient(
    90deg,
    rgb(64, 66, 67) 0%,
    rgb(138, 142, 144) 100%
  );
  /* font */
  font-family: 'Open Sans', sans-serif;
  min-width: 350px;
}

/* versão desktop */

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
