.container {
  top: -8rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: row;
  padding-bottom: 2rem;
}

.container > div {
  margin: 1rem 0;
}

.container > div:first-child {
  margin-top: 0;
}

.document {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.document > button {
  flex: 1 1 100%;
}

.history {
  width: 100%;
}

.history > h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
  color: rgb(var(--color-black));
}

.history > h2 {
  left: 0;
  right: 0;
  bottom: 2rem;
  font-size: 1.7rem;
  text-align: center;
  position: absolute;
}

.history > p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

.history > p a {
  flex: 1 1 50%;
  color: grey;
  cursor: pointer;
  text-align: left;
  font-size: 1.5rem;
  padding: 1rem 0 2rem;
  display: inline-block;
  transition: 0.4s ease;
  text-decoration: none;
}

.history > p a[data-active='false'] {
  cursor: default;
}

.history > p a:nth-child(even) {
  text-align: right;
}

.history > p a label {
  cursor: inherit;
  user-select: none;
}

.history > p a i {
  margin-right: 7px;
}

.history > p a[data-active='true']:hover {
  overflow: hidden;
  padding-left: 10px;
  white-space: nowrap;
  flex: 1 1 calc(50% - 10px);
  color: rgb(var(--color-primary));
}

.history > p a[data-active='true']:nth-child(odd):hover > label {
  margin-right: 10px;
}

.history > ul {
  font-size: 1.7rem;
  color: rgb(var(--color-black));
}

.history[data-legend='true'] > ul {
  padding-bottom: 2rem;
}

.history > ul li {
  display: flex;
  margin: 2rem 0;
  flex-direction: row;
  padding-bottom: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.history > ul li label {
  flex: 1;
  font-weight: 700;
}

@media screen and (min-width: 500px) {
  .document > button {
    flex: 1;
  }
}

@media screen and (min-width: 1280px) {
  .container > div {
    flex: 1;
    margin: 0 1rem;
  }
}
