.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: -10rem auto 2rem;
}

.container h1 {
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 2rem;
  border-bottom: 2px solid rgb(var(--color-disabled));
}

.container[data-step='1'] h1 {
  text-align: center;
}

.container button[type='submit'] {
  width: 100%;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 500px) {
  .container[data-step='1'],
  .container[data-step='1'] {
    max-width: 500px;
  }

  .container button[type='submit'] {
    max-width: 500px;
  }
}
