 .info-field {
   margin: 1.2rem 0;
   padding: 0.8rem;
   background: #F9F9F9;
   border-radius: 0.8rem;
   border: 1px solid #D2E0DB;
   display: flex;
   align-items: center;
   flex-direction: column;
 }

 .info-field .title {
   font-size: 1.4rem;
 }

 .info-field .info {
   font-size: 1.6rem;
   font-weight: 700;
   margin-top: 0.4rem;
 }
